<div class="container">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title-group>
                <img mat-card-sm-image src="https://avatars.githubusercontent.com/u/62945306?v=4">
                <mat-card-title>Mobasshir Imam</mat-card-title>
                <mat-card-subtitle>GTE @Digit</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <p>Hyderabad</p>
            <p>Mobile No:- 8802522030</p>

        </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Shahwez Ahmed</mat-card-title>
                <mat-card-subtitle>GTE @Digit</mat-card-subtitle>
                <img mat-card-sm-image
                    src="https://media.licdn.com/dms/image/D4D03AQHrOek_FkthYA/profile-displayphoto-shrink_800_800/0/1686719241655?e=2147483647&v=beta&t=2Z4wvKtosLanIcOOAhzWz-R5J4fJfDu_G4oxMGK4_Ms">
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <p>Hyderabad</p>
            <p>Mobile No:- 8171773727</p>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title-group>
                <img mat-card-sm-image src="https://avatars.githubusercontent.com/u/62945306?v=4">
                <mat-card-title>Prabhu Kumar</mat-card-title>
                <mat-card-subtitle>GTE @Digit</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <p>Hyderabad</p>
            <p>Mobile No:- 9121644039</p>
        </mat-card-content>
    </mat-card>
</div>