<!-- <ul *ngFor="let item of data">
    <li>
        {{item.title}}
    </li>
</ul> -->

<div *ngFor="let detail of blogDt" class="container mt-3">
    <div class="row" >
      <div class="card col-5 bg-light  " >
        <div class="card-body" >
          <h6 class="card-subtitle mb-2 text-muted">{{ detail.topics }}</h6>
          <h5 class="card-title mb-3">{{ detail.title }}</h5>
          <p class="card-text">{{ detail.content.substring(0, 500) }}</p>
          <button type="button " class="btn text-light">Read full article</button>
         
  
          <h6 class="card-subtitle mb-2 text-muted mt-3">{{ detail.author }}</h6>
        </div>
      </div>
    </div>
  </div>
  
  <!-- <ul *ngFor="let detail of blogDt">
          <li >
              {{detail.title}}
          </li>
          <li >
              {{detail.topics}}
          </li>
          <li >
              {{detail.content}}
          </li>
          <li >
              {{detail.refrences}}
          </li>
          <li >
              {{detail.author}}
          </li>
          
      </ul>
     -->
  