.example-spacer {
  flex: 1 1 auto;
}

footer {
  text-align: center;
  margin-top: 10px;
  background-color: #673ab7;
  color: whitesmoke;
  font-size: large;
  padding: 40px;
  /* bottom: 0; */
  /* position: sticky; */
  width: 100%;
  position: sticky;
  top: 100vh;
}

.social-media-icon {
  width: 300px;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  font-size: 40px;
  margin-bottom: 10px;
}

.copyright {
  margin-bottom: 30px;
}

.company-detail {
  margin-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  color: whitesmoke;
}
