.content {
    padding-top: 8px;
}

mat-form-field {
    width: 100%;
}

.row {
    display: flex;
    gap: 10px;
}

.row-full {
    width: 100%;
}

.action {
    padding: 0px, 30px, 20px;
}

.action button {
    flex: 1;
}