.example-spacer {
    flex: 1 1 auto;
}

table {
    width: 100%;
    background-color: inherit !important;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

.main-body {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.main-body mat-form-field {
    width: 100%;
}
